TmfReferenceModelExchange.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
    See 1.0 eTMF Exchange Mechanism Standard
    https://docs.google.com/document/d/12RPl_X8bxb6_ynAindfmmL8GxM7j8nM8RZJGrjRmhh0/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://tmfrefmodel.com/ems"
           targetNamespace="https://tmfrefmodel.com/ems"
           elementFormDefault="qualified">

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="level">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Trial" />
            <xs:enumeration value="Country" />
            <xs:enumeration value="Site" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="boolean">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Yes" />
            <xs:enumeration value="No" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="state">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Current" />
            <xs:enumeration value="Superseded" />
            <xs:enumeration value="Obsolete" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sigType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Electronic" />
            <xs:enumeration value="Digital" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="auditType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="New" />
            <xs:enumeration value="Change" />
            <xs:enumeration value="Delete" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>

    <!-- dd-MMM-yyyy -->
    <xs:simpleType name="dateOnly">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}-[a-zA-Z]{3}-\d{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Section 5.3.1 <BATCH> Tag -->
    <xs:element name="BATCH">
        <xs:complexType>
            <xs:sequence>
                <!-- Section 5.3.2 <OBJECT> Tag -->
                <xs:element name="OBJECT">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Attribute Format: Text -->
                            <xs:element name="OBJECTID" type="nonEmptyString" />

                            <!-- Attribute Format: Text (Trial, Country, Site) -->
                            <xs:element name="OBJECTLEVEL" type="level" />

                            <!-- Attribute Format: ISO-3166 Alpha-3 i.e. CAN, FRA etc.
                                 Mandatory - No – Only for country or site level documents
                             -->
                            <xs:element name="COUNTRYID" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- Attribute Format: Text
                                 Mandatory - No – Only for country or site level documents
                             -->
                            <xs:element name="SITESYSTEMID" type="nonEmptyString" minOccurs="0"/>

                            <!-- Attribute Format: Text
                                 Mandatory - No – Only for country or site level documents
                             -->
                            <xs:element name="SITEID" type="nonEmptyString" minOccurs="0"/>

                            <!-- Attribute Format: Number on 3 digits i.e. 001, 010-->
                            <xs:element name="UNIQUEID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:pattern value="[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- Attribute Format: Text i.e. 01.01.01 -->
                            <xs:element name="ARTIFACTNUMBER">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9]{2}.[0-9]{2}.[0-9]{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- Attribute Format: Text
                                 Optional (Blanks Allowed)
                             -->
                            <xs:element name="PERSONNAME" type="xs:string" minOccurs="0" />

                            <!-- Attribute Format: Text
                                 Optional (Blanks Allowed)
                             -->
                            <xs:element name="ORGANIZATIONNAME" type="xs:string" minOccurs="0"/>

                            <!-- Attribute Format: ISO 639 2 letter language code i.e. en, fr
                                 Optional
                             -->
                            <xs:element name="OBJECTLANGUAGE" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="aa|ab|ae|af|ak|am|an|ar|as|av|ay|az|ba|be|bg|bh|bi|bm|bn|bo|br|bs|ca|ce|ch|co|cr|cs|cu|cv|cy|da|de|dv|dz|ee|el|en|eo|es|et|eu|fa|ff|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|gv|ha|he|hi|ho|hr|ht|hu|hy|hz|ia|id|ie|ig|ii|ik|io|is|it|iu|ja|jv|ka|kg|ki|kj|kk|kl|km|kn|ko|kr|ks|ku|kv|kw|ky|la|lb|lg|li|ln|lo|lt|lu|lv|mg|mh|mi|mk|ml|mn|mr|ms|mt|my|na|nb|nd|ne|ng|nl|nn|no|nr|nv|ny|oc|oj|om|or|os|pa|pi|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sc|sd|se|sg|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|ty|ug|uk|ur|uz|ve|vi|vo|wa|wo|xh|yi|yo|za|zh|zu"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- Attribute Format: Yes/No
                                 Optional
                             -->
                            <xs:element name="TRANSLATION" type="boolean" minOccurs="0"/>

                            <!-- Attribute Format: Text -->
                            <xs:element name="OBJECTVERSION" type="nonEmptyString"/>

                            <!-- Attribute Format: Choice Current; Superseded; Obsolete -->
                            <xs:element name="OBJECTVERSIONSTATE" type="state"/>

                            <!-- Attribute Format: Text
                                 Optional (Blanks Allowed)
                             -->
                            <xs:element name="OBJECTTITLE" type="xs:string" minOccurs="0"/>

                            <!-- Attribute Format: Text
                                 Optional (Blanks Allowed)
                             -->
                            <xs:element name="SUBARTIFACT" type="xs:string" minOccurs="0"/>

                            <!-- Attribute Format: Yes/No -->
                            <xs:element name="OBJECTCOPY" type="boolean"/>

                            <!-- Attribute Format: Date (DD-MON-YYYY)
                                 Optional
                             -->
                            <xs:element name="OBJECTEXPIRYDATE" type="dateOnly" minOccurs="0"/>

                            <!-- Attribute Format: YES/NO
                                 Optional
                             -->
                            <xs:element name="RESTRICTED" type="boolean" minOccurs="0"/>

                            <!-- Attribute Format: Date (DD-MON-YYYY)
                                 Optional
                             -->
                            <xs:element name="RENTENTIONDATE" type="dateOnly"/>

                            <!-- Attribute Format: Date (DD-MON-YYYY)
                                 Optional
                             -->
                            <xs:element name="ARTIFACTDATE" type="dateOnly"/>

                            <!-- Attribute Format: Text
                                 Optional (Blanks Allowed)
                             -->
                            <xs:element name="DATEDESCRIPTION" type="xs:string" minOccurs="0"/>

                            <!-- 5.3.3 <FILE> Tag -->
                            <xs:element name="FILE" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!-- Attribute Format: Text (based on emerging SRI standard https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) -->
                                        <xs:element name="INTEGRITY" type="nonEmptyString"/>

                                        <!-- Attribute Format: Text -->
                                        <xs:element name="FILENAME" type="nonEmptyString"/>

                                        <!-- Attribute Format: URL -->
                                        <xs:element name="CONTENTURL" type="xs:anyURI"/>

                                        <!-- Attribute Format: Text -->
                                        <xs:element name="FILEDESCRIPTION" type="xs:string" minOccurs="0"/>

                                        <!-- 5.3.4 <SIGNATURE> TAG -->
                                        <xs:element name="SIGNATURE">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- Attribute Format: Choice: Electronic, Digital -->
                                                    <xs:element name="SIGNATUREMETHODOLOGY" type="sigType"/>

                                                    <!-- Attribute Format: Text -->
                                                    <xs:element name="USEROID" type="nonEmptyString"/>

                                                    <!-- Attribute Format: Text -->
                                                    <xs:element name="SIGNATURENAME" type="nonEmptyString"/>

                                                    <!-- Attribute Format: UTC ISO 8601; i.e.. 2016-04-13T14:00:25+00:00 -->
                                                    <xs:element name="SIGNATUREDATETIME" type="xs:dateTime"/>

                                                    <!-- Attribute Format: Text -->
                                                    <xs:element name="SIGNATUREREASON" type="nonEmptyString"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <!-- 5.3.5 <AUDITRECORD> Tag -->
                                        <xs:element name="AUDITRECORD" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- Attribute Format: Text -->
                                                    <xs:element name="AUDITID" type="nonEmptyString"/>

                                                    <!-- Attribute Format: UTC ISO 8601; i.e.. 2016-04-13T14:00:25+00:00 -->
                                                    <xs:element name="DATETIMESTAMP" type="xs:dateTime"/>

                                                    <!-- Attribute Format: Text -->
                                                    <xs:element name="USERREF" type="nonEmptyString"/>

                                                    <!-- Attribute Format: Text -->
                                                    <xs:element name="AUDITENTRYTYPE" type="auditType"/>

                                                    <!-- Attribute Format: Text -->
                                                    <xs:element name="AUDITEVENT" type="nonEmptyString"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="METADATA" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="NAME" type="xs:string" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <!-- Attribute Format: UUID/Text -->
            <xs:attribute name="STUDYSYSTEMID" type="xs:string"/>

            <!-- Attribute Format: Text (mandatory) -->
            <xs:attribute name="STUDYID" type="nonEmptyString" use="required"/>

            <!-- Attribute Format: Text -->
            <xs:attribute name="EVENTID" type="xs:string"/>

            <!-- Attribute Format: Text (mandatory) -->
            <xs:attribute name="TRANSFERSOURCEID" type="nonEmptyString" use="required"/>

            <!-- Attribute Format: Text (mandatory) -->
            <xs:attribute name="TRANSFERID" type="nonEmptyString" use="required"/>

            <!-- Attribute Format: Text (mandatory) -->
            <xs:attribute name="SPECIFICATIONID" type="nonEmptyString" use="required"/>

            <!-- Attribute Format: Text (mandatory - 1.0, 2.0, 3.0 etc.)
                 NOTE: we specify decimal as the data type, which supports 1.0 but not 1.0.0 -->
            <xs:attribute name="TMFRMVERSION" type="xs:decimal" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
